.questionBlock {
    position: absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.option {
    margin-top: 10px;
}

.backButton {
    margin-left: 50px;
    margin-top: 50px;
    float: left;
}

.maxVal {
    color: red;
}
